<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!-- Meta Tags -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- DataPicker -->
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.10.3/themes/flick/jquery-ui.min.css">
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<!-- DurationPicker -->

<link th:href="@{/css/duration-picker.css}" rel="stylesheet">
<script src="../../static/js/code.jquery.com/jquery.min.js"></script>
<script src="../../static/js/duration-picker.js"></script>


<title>Formulario Pelicula</title>


<!-- Google Fonts -->
<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">

<!-- Font Awesome -->
<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">

<!-- Material Design Bootstrap -->
<link th:href="@{/css/mdb.min.css}" rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/style.css}">


</head>
<body>

	<!--Formulario Pelicula-->
	<div class="container">
		<form th:object="${nuevaPelicula}" role="form" enctype="multipart/form-data" method="POST"
			th:action="@{/addPelicula}">

			

			<!-- Grupo Columna -->
			<div class="row">
				<div class="col-md-8">
						<h1>Formulario de Pelicula</h1>
						<img th:src="@{/image/peliculas/metropolis.jpg}" width="700"/>
				<hr>

				</div>  <!--Imagen-->
				<div class="col-md-4">   <!--Formulario-->
					
					<br>
					
					<div class="form-group"> <!-- TITULO -->
						<label for="titulo">Titulo </label> 
						<input th:field="*{titulo}" name="titulo" type="text" id="titulo" class="form-control" required autofocus>
					</div>
				
					<div class="form-group"> <!-- DIRECTOR -->
						<label for="director">Director </label> 
						<input th:field="*{director}" type="text" id="director" class="form-control">		
					</div>

					<div class="form-row align-items-center"> <!-- SELECT -->
						<label for="genero">Genero</label>
						<select th:field="*{genero}" class="custom-select mr-sm-2" id="genero">
							<option selected="selected" value="">Seleccione un genero</option>
							<option th:each=" grupoGenero : ${listaGenero}" th:text="${grupoGenero}" th:value="${grupoGenero}"></option>
						</select>
					</div>

					<div class="form-row align-items-center"> <!-- POSTER -->
						<label class="mr-sm-2">Poster</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">Subir</span>
							</div>
							<div class="custom-file">
								<input id="file" name="file" class="input-file" type="file" />
								<label class="custom-file-label" for="poster">Imagen publicitaria...</label>
							</div>
					</div>

					<div class="form-check"> <!-- RADIOBUTTON -->
					<label for="edad">Clasificación por edades</label>
							<ul>
								<li th:each="tiposEdad : ${listaEdad}">
								<input type="radio" th:field="*{edad}" th:value="${tiposEdad}" />   
									<label th:for="${#ids.prev('edad')}" th:text="${tiposEdad}" >Tipos de edad</label>
																</ul>
						</div>
	
					</div>

							
					
					<div id="datepicker"></div> <!-- Fecha de estreno -->
						<div id="datos">
						<br> <label for='fecha'>Fecha de estreno:</label>
								<!-- Campo de texto que recibira el valor seleccionado en el datepicker 
								le he puesto el atributo readonly para no poder escribir directamente -->
								<input th:field="*{estreno}" type='text' name='fecha' id='fecha'
									readonly />
						</div>
						<script>
								$("#datepicker").datepicker(
										{
											// Formato de la fecha
											dateFormat : "dd/mm/yy",
											// Primer dia de la semana El lunes
											firstDay : 1,
											// Dias Largo en castellano
											dayNames : [ "Domingo", "Lunes", "Martes",
													"Miercoles", "Jueves", "Viernes",
													"Sabado" ],
											// Dias cortos en castellano
											dayNamesMin : [ "Do", "Lu", "Ma", "Mi",
													"Ju", "Vi", "Sa" ],
											// Nombres largos de los meses en castellano
											monthNames : [ "Enero", "Febrero", "Marzo",
													"Abril", "Mayo", "Junio", "Julio",
													"Agosto", "Septiembre", "Octubre",
													"Noviembre", "Diciembre" ],
											// Nombres de los meses en formato corto 
											monthNamesShort : [ "Ene", "Feb", "Mar",
													"Abr", "May", "Jun", "Jul", "Ago",
													"Sep", "Oct", "Nov", "Dec" ],
											// Cuando seleccionamos la fecha esta se pone en el campo Input 
											onSelect : function(dateText) {
												$('#fecha').val(dateText);
											}
										});
						</script>

						<script>   // SESIONES 
									function agregar_fila() {
									
										var tabla = document.getElementById("sesion");
										
										var fila = tabla.insertRow();
										
										var celda1 = fila.insertCell(0);
										var celda2 = fila.insertCell(1);
										var celda3 = fila.insertCell(2);
										var celda4 = fila.insertCell(3);
										
										var campo1 = document.createElement("input");
											campo1.type = "text";
											campo1.setAttribute("onclick","vaciar_campo(this);");
											
										var campo2 = document.createElement("input");
											campo2.type = "time";
											campo2.setAttribute("onclick", "vaciar_campo(this);");
										var campo3 = campo2.cloneNode(true);
										
										var campo4 = document.createElement("input");
											campo4.type = "button";
											campo4.value = "Borrar Fila";
											campo4.onclick = function() {
											
												var fila = this.parentNode.parentNode;
												var tbody = tabla.getElementsByTagName("tbody")[0];
												
												tbody.removeChild(fila);
												
											}
										
										celda1.appendChild(campo1);
										celda2.appendChild(campo2);
										celda3.appendChild(campo3);
										celda4.appendChild(campo4);
									
									}
							 
								function vaciar_campo(input) {
										input.value = "";
								}
							
						</script>
					
					<a class="btn btn-primary align-items-center" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
							Sesiones
					</a>
					<div class="collapse" id="collapse">
						
						<table class="table table-striped" id="sesion" cellpadding="2" cellspacing="1" border="1">
						
							<tr>
								<th>Nº Sala</th><th>Hora inicio</th><th>Hora fin</th>
						
								<td><input type="button" value="Agregar Fila" onclick="agregar_fila();"></td> 
							</tr>
								 
						</table>
					</div>

					<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Guardar</button>
							</div>
					</div>
				
			</div>
		</form>
	</div>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{http://code.jquery.com/jquery-3.3.1.min.js} " integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin=" anonymous "></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js} " integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ " crossorigin="anonymous "></script>
	<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js} " integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm " crossorigin="anonymous "></script>

	<!-- MDB core JavaScript -->
	<script type="text/javascript " th:src="@{js/mdb.min.js} "></script>


	<!-- MDB core JavaScript -->
	<script type="text/javascript " src="js/mdb.min.js "></script>
</body>
</html>