<
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<!-- Meta Tags -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- DataPicker -->
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.10.3/themes/flick/jquery-ui.min.css">
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<!-- Timesetter -->

<link th:href="@{/css/jquery.timesetter.css}" rel="stylesheet">
<script src="../../static/js/code.jquery.com/jquery.min.js"></script>
<script src="../../static/js/jquery.timesetter.js"></script>

<!-- Google Fonts -->
<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">

<!-- Font Awesome -->
<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">

<!-- Material Design Bootstrap -->
<link th:href="@{~/css/mdb.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{~/css/style.css}">



<title>Formulario Pelicula</title>



</head>
<body>

	<!-- Navigation -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{admin/index}"> <img
				th:src="@{/image/logotipo.png}"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<a class="nav-link" href="admin/cartelera.html"
						th:href="@{/listadoPeliculas}">Cartelera</a>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle waves-effect waves-light"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
							class="fa fa-user"></i> Area cliente</span></a>
						<div class="dropdown-menu dropdown-menu-right dropdown-ins"
							aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="admin/listaUsuarios.html"
								th:href="@{/admin/listaUsuarios}">Lista de usuarios</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="../login.html"
								th:href="@{/cerrarSesion}">Cerrar sesión</a>
						</div>
			</div>
			</li>
			</ul>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>

	<div class="card center">
			<div class="card-header">
				<h1>Añadir Pelicula</h1>
			<div class="card-body container">

				<!--Formulario Pelicula-->
				<form th:object="${nuevaPelicula}" role="form"
					enctype="multipart/form-data" method="POST"
					th:action="@{/addPelicula}">

					<div class="col-md-3">
						<div class="form-group">
							<!-- TITULO -->
							<label for="titulo">Titulo </label> <input th:field="*{titulo}"
								name="titulo" type="text" id="titulo" class="form-control"
								required autofocus>
						</div>

						<div class="form-group">
							<!-- DIRECTOR -->
							<label for="director">Director </label> <input
								th:field="*{director}" type="text" id="director"
								class="form-control">
						</div>

						<div class="form-group align-items-center">
							<!-- SELECT -->
							<label for="genero">Genero</label> <select th:field="*{genero}"
								class="custom-select mr-sm-2" id="genero">
								<option selected="selected" value="">Seleccione un
									genero</option>
								<option th:each=" grupoGenero : ${listaGenero}"
									th:text="${grupoGenero}" th:value="${grupoGenero}"></option>
							</select>
						</div>

						<div class="form-group">
							<!-- DURACION -->
							<label for="duracion">Duracion </label> <input
								th:field="*{duracion}" type="number" id="duracion"
								placeholder="Minutos" class="form-control">
						</div>

						<div class="form-row align-items-center">
							<!-- POSTER -->
							<label class="mr-sm-2">Poster</label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Subir</span>
								</div>
								<div class="custom-file">
									<input id="file" name="file" class="input-file" type="file" />
									<label class="custom-file-label" for="poster">Imagen
										publicitaria.......</label>
								</div>
							</div>
						</div>

					</div>
					<div class="col-md-3 col-md-offset-1">

						<div class="form-check">
							<!-- RADIOBUTTON -->
							<label for="edad">Clasificación por edades</label>
								<li th:each="tiposEdad : ${listaEdad}"><input type="radio"
									th:field="*{edad}" th:value="${tiposEdad}" /> <label
									th:for="${#ids.prev('edad')}" th:text="${tiposEdad}">Tipos
										de edad</label>
						</div>

						<br>

						<div class="form-group">
							<label for="textarea">Descripción</label>
							<textarea class="form-control rounded-0" id="textarea" rows="3"></textarea>
						</div>

					</div>
					<div class="col-md-3 col-md-offset-1">
						<label for="estreno">Calendario</label>
						<div id="datepicker"></div>
						<!-- Fecha de estreno -->
						<div id="datos">
							<br> <label for='fecha'>Fecha de estreno:</label>
							<!-- Campo de texto que recibira el valor seleccionado en el datepicker 
								le he puesto el atributo readonly para no poder escribir directamente -->
							<input th:field="*{estreno}" type='text' name='fecha' id='fecha'
								class="form-control" readonly />

						</div>
						<br>
						<div class="collapse" id="collapse">
							<!-- COLAPSE -->
							<!-- SESION-->

							<table class="table table-striped w-50" id="sesion"
								cellpadding="3" cellspacing="3" border="3">

								<tr>
									<th>Nº Sala</th>
									<th>Sesion</th>
									<th></th>
								</tr>
								<tr>
									<td>
										<div>
											<select id='salita' th:field="*{nuevaSala}">
												<option th:each=" mostrarSalas : ${listaSala}"
													th:text="${mostrarSalas.nombreSala}"
													th:value="${mostrarSalas.idSala}"></option>
											</select>
										</div>
									</td>
									<td>
										<div class='tras'>
											<input th:field='*{sesiones}' type="time" />
										</div>
									</td>
									<td><input type="button" value="Agregar Fila"
										onclick="agregar_fila_mmm();"></td>
								</tr>


							</table>

						</div>
						<a class="btn btn-primary align-items-center"
							data-toggle="collapse" href="#collapse" role="button"
							aria-expanded="false" aria-controls="collapse"> Sesiones </a>
						<!-- /COLAPSE SESION-->

						<div class="form-group">
							<button type="submit" class="btn btn-default">Guardar</button>
						</div>

					</div>

				</form>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<footer class="py-5 bg-dark footer">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Ermigele</p>
		</div>
		<!-- /.container -->
	</footer>




</body>

<script>
	$("#datepicker").datepicker(
			{
				// Formato de la fecha
				dateFormat : "dd/mm/yy",
				// Primer dia de la semana El lunes
				firstDay : 1,
				// Dias Largo en castellano
				dayNames : [ "Domingo", "Lunes", "Martes", "Miercoles",
						"Jueves", "Viernes", "Sabado" ],
				// Dias cortos en castellano
				dayNamesMin : [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
				// Nombres largos de los meses en castellano
				monthNames : [ "Enero", "Febrero", "Marzo", "Abril", "Mayo",
						"Junio", "Julio", "Agosto", "Septiembre", "Octubre",
						"Noviembre", "Diciembre" ],
				// Nombres de los meses en formato corto 
				monthNamesShort : [ "Ene", "Feb", "Mar", "Abr", "May", "Jun",
						"Jul", "Ago", "Sep", "Oct", "Nov", "Dec" ],
				// Cuando seleccionamos la fecha esta se pone en el campo Input 
				onSelect : function(dateText) {
					$('#fecha').val(dateText);
				}
			});
</script>
<script>
	// SESIONES 
	function agregar_fila_mmm() {
		var lastSesion = $('.tras').last();

		var tmpSesion = lastSesion.clone();

		tmpSesion.find('input').val('');

		tmpSesion.insertAfter(lastSesion);

	}
	function agregar_fila() {

		var tabla = document.getElementById("sesion");

		var fila = tabla.insertRow();

		var celda1 = fila.insertCell(0);
		var celda2 = fila.insertCell(1);
		var celda3 = fila.insertCell(2);

		var campo1 = document.createElement("input");
		campo1.type = "text";
		campo1.setAttribute("onclick", "vaciar_campo(this);");

		var campo2 = document.createElement("input");
		campo2.type = "time";
		campo2.setAttribute("onclick", "vaciar_campo(this);");

		var campo3 = document.createElement("input");
		campo3.type = "button";
		campo3.value = "Borrar Fila";
		campo3.onclick = function() {

			var fila = this.parentNode.parentNode;
			var tbody = tabla.getElementsByTagName("tbody")[0];

			tbody.removeChild(fila);

		}

		celda1.appendChild(campo1);
		celda2.appendChild(campo2);
		celda3.appendChild(campo3);

	}

	function vaciar_campo(input) {
		input.value = "";
	}
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{http://code.jquery.com/jquery-3.3.1.min.js} "
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin=" anonymous "></script>
<script
	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js} "
	integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ "
	crossorigin="anonymous "></script>
<script
	th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js} "
	integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm "
	crossorigin="anonymous "></script>

<!-- MDB core JavaScript -->
<script type="text/javascript " th:src="@{js/mdb.min.js} "></script>


<!-- MDB core JavaScript -->
<script type="text/javascript " src="js/mdb.min.js "></script>


</html>