<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
</head>

<body>

        <script>
                function myCreateFunction() {
                    var table = document.getElementById("myTable"); {
                        var row = table.insertRow(0);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        cell1.innerHTML = '<input type="text">';
                        cell2.innerHTML = '<input type="text" id=txt>';
                        cell1.style.height = "20px";
                        cell1.style.width = "100px";
                        cell2.style.height = "20px";
                        cell2.style.width = "30px";
                        txt.style.width = "30px";
                    }
                }
        
                function myDeleteFunction() {
                    document.getElementById("myTable").deleteRow(0);
                }
            </script>



    <button onclick="myCreateFunction()" type="button">
        <img src="Boton.png">
    </button>
    <button onclick="myDeleteFunction()" type="button">
        <img src="Boton2.png">
    </button>
    <p>&nbsp;</p>
    <table id="myTable" border="0">
        <tr>
            <td style="height: 20px; width: 100px;">
                <input name="urlresp" type="text" id="urlresp" onfocus="this.value=''" value="Url respuesta">
            </td>
            <td style="height: 20px; width: 30px;">
                <input name="ptss" type="text" id="txt" style="width: 30px;" onfocus="this.value=''" value="0">
            </td>
        </tr>
    </table>, initial-scale=1.0">

                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="http://code.jquery.com/jquery-3.3.1.min.js " integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin=" anonymous "></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js " integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ " crossorigin="anonymous "></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js " integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm " crossorigin="anonymous "></script>
               
                <!-- MDB core JavaScript -->
                <script type="text/javascript " src="js/mdb.min.js "></script>
</body>
</html>