<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Stylesheets -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    
    
    <!-- Nombre Página -->
    <title>Login</title>

   
</head>
<body>
        <div class="container">
            <div class="text-center">
                    <h2 class="d-inline">Login</h2>
                    <a class="h2" th:href="@{/registroUsuario/registrar.html}">Registrarse</a> 
            </div>       
        </div>
                 
        <hr>
     
     <!-- Usuario -->
        <form  th:object="${loginUser}" class="form-horizontal" role="form" method="POST" th:action="{verificarLogin">     
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-5">
                    <div class="form-group has-danger">
                        <label class="sr-only" for="usuario">Usuario</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input th:field="*{user}" type="text" name="usuario" class="form-control" id="usuario" placeholder="Usuario" required autofocus>
                        </div>
                    </div>
                </div>
            </div>

    <!-- /Usuario -->

    <!-- Contraseña -->
              
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="sr-only" for="password">Contraseña</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input th:field="*{pass}" type="password" name="password" class="form-control" id="password" placeholder="Contraseña" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        <!-- Put password error message here -->    
                        </span>
                    </div>
                </div>
            </div>

    <!-- /Contraseña --> 
    
    
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="padding-top: .35rem">
                    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                        <label class="form-check-label">
                            <input class="form-check-input" name="remember"
                                   type="checkbox" >
                            <span style="padding-bottom: .15rem">Recuerdame automaticamente</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Acceder</button>
                    <a class="btn btn-link" href="/password/reset">¿Has olvidado la contraseña?</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>